In [41]:
import pandas as pd
import numpy as np

In [42]:
lol_data = pd.read_csv("games.csv",index_col = 'gameId', encoding="cp949") # 주어진 Column 명 내에서만 (새로운 index_col name 생성 불가능)
lol_data

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51
3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,...,2,0,0,0,0,11,67,238,51,420
3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,...,2,0,0,1,0,157,238,121,57,28
3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,...,0,0,0,0,0,164,18,141,40,51
3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3308904636,1503076540231,1944,9,2,1,2,2,0,2,0,...,10,2,0,4,0,55,-1,90,238,157
3215685759,1496957179355,3304,9,2,1,1,2,2,2,2,...,11,7,4,4,1,157,55,119,154,105
3322765040,1504029863961,2156,9,2,2,2,2,0,1,0,...,10,2,0,2,0,113,122,53,11,157
3256675373,1499562036246,1475,9,2,2,2,2,0,2,0,...,11,3,0,1,0,154,39,51,90,114
3317333020,1503612754059,1445,9,1,1,1,1,1,2,0,...,1,0,0,1,0,11,157,141,31,18

In [43]:
# 상위 몇개의 데이터만 열람
lol_data.head(20)

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51
3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,...,2,0,0,0,0,11,67,238,51,420
3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,...,2,0,0,1,0,157,238,121,57,28
3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,...,0,0,0,0,0,164,18,141,40,51
3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,...,3,0,0,1,0,86,11,201,122,18
3287435705,1501667992132,2059,9,1,2,2,1,1,2,0,...,6,0,0,3,0,119,134,154,63,31
3314215542,1503430065724,1993,9,1,1,2,1,1,1,1,...,2,0,0,0,0,75,42,31,40,429
3329224025,1504472363684,1334,9,1,1,1,0,0,2,1,...,0,0,0,2,0,157,38,122,40,238
3318040883,1503686577549,1387,9,2,2,2,2,0,2,2,...,8,1,0,2,1,28,51,53,157,40
3327786881,1504385918871,2681,9,2,2,2,2,2,2,0,...,8,3,1,2,0,64,141,84,67,53
3325996400,1504273919929,1391,9,2,2,2,2,2,2,2,...,10,2,1,1,1,19,74,122,59,412
3284613292,1501452879926,1671,9,1,1,2,1,0,2,1,...,2,0,0,2,0,103,154,412,6,64
3321570535,1503947039120,2071,9,1,1,1,0,1,2,1,...,3,0,0,1,0,143,64,254,53,122
3323144943,1504057872709,1942,9,1,2,2,1,0,1,0,...,3,0,0,2,0,154,498,117,141,19
3329332855,1504479222082,2374,9,2,2,2,1,1,2,0,...,9,2,0,2,0,31,67,202,53,119
3322311228,1503994240897,1717,9,1,2,1,1,0,1,0,...,0,0,0,0,0,53,117,141,122,157
3316242660,1503574693354,2390,9,2,2,2,2,2,2,0,...,9,3,2,4,0,18,134,53,420,29
3330057565,1504555731094,1994,9,1,2,1,1,1,1,1,...,2,0,0,0,0,141,1,11,29,122
3318940474,1503749118008,1513,9,2,1,2,2,0,2,0,...,11,3,0,2,0,31,141,119,122,238
3320637674,1503859605802,1898,9,2,1,2,2,2,1,1,...,11,2,1,1,0,117,54,113,157,40

In [44]:
# shape(51490 rows × 60 columns) 안내가 없다는 가정
lol_data.shape

(51490, 60)

In [45]:
# column을 열람
lol_data.columns

Index(['creationTime', 'gameDuration', 'seasonId', 'winner', 'firstBlood',
       'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon',
       'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1', 't1_champ1_sum2',
       't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2', 't1_champ3id',
       't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id', 't1_champ4_sum1',
       't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1', 't1_champ5_sum2',
       't1_towerKills', 't1_inhibitorKills', 't1_baronKills', 't1_dragonKills',
       't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3', 't1_ban4',
       't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [46]:
# total counts of elements
lol_data.size

3089400

In [47]:
# 6th column specific with confirming type of data
lol_data.columns[5]

lol_data.iloc[:,5].dtype

dtype('int64')

In [48]:
# 6th column, 3rd values
lol_data.iloc[2,5]

1

In [49]:
# print total first 6 row
lol_data.head(6)

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3326086514,1504279457970,1949,9,1,2,1,1,1,1,2,...,5,0,0,1,1,114,67,43,16,51
3229566029,1497848803862,1851,9,1,1,1,1,0,1,1,...,2,0,0,0,0,11,67,238,51,420
3327363504,1504360103310,1493,9,1,2,1,1,1,2,0,...,2,0,0,1,0,157,238,121,57,28
3326856598,1504348503996,1758,9,1,1,1,1,1,1,0,...,0,0,0,0,0,164,18,141,40,51
3330080762,1504554410899,2094,9,1,2,1,1,1,1,0,...,3,0,0,1,0,86,11,201,122,18
3287435705,1501667992132,2059,9,1,2,2,1,1,2,0,...,6,0,0,3,0,119,134,154,63,31

In [50]:
# print total last 6 row
lol_data.tail(6)

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
gameId,,,,,,,,,,,,,,,,,,,,,
3316694929,1503589096685,2701,9,2,2,1,2,2,2,0,...,11,5,2,3,0,57,21,157,53,58
3308904636,1503076540231,1944,9,2,1,2,2,0,2,0,...,10,2,0,4,0,55,-1,90,238,157
3215685759,1496957179355,3304,9,2,1,1,2,2,2,2,...,11,7,4,4,1,157,55,119,154,105
3322765040,1504029863961,2156,9,2,2,2,2,0,1,0,...,10,2,0,2,0,113,122,53,11,157
3256675373,1499562036246,1475,9,2,2,2,2,0,2,0,...,11,3,0,1,0,154,39,51,90,114
3317333020,1503612754059,1445,9,1,1,1,1,1,2,0,...,1,0,0,1,0,11,157,141,31,18

In [51]:
# 수치형 변수를 가진 column 출력 => 아래 column들은 수치형 데이터로만 이루어짐
lol_data.select_dtypes(exclude=object).columns

Index(['creationTime', 'gameDuration', 'seasonId', 'winner', 'firstBlood',
       'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon',
       'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1', 't1_champ1_sum2',
       't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2', 't1_champ3id',
       't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id', 't1_champ4_sum1',
       't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1', 't1_champ5_sum2',
       't1_towerKills', 't1_inhibitorKills', 't1_baronKills', 't1_dragonKills',
       't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3', 't1_ban4',
       't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [52]:
# Find null data

lol_data.isnull() 

lol_data.isnull().sum()

creationTime          0
gameDuration          0
seasonId              0
winner                0
firstBlood            0
firstTower            0
firstInhibitor        0
firstBaron            0
firstDragon           0
firstRiftHerald       0
t1_champ1id           0
t1_champ1_sum1        0
t1_champ1_sum2        0
t1_champ2id           0
t1_champ2_sum1        0
t1_champ2_sum2        0
t1_champ3id           0
t1_champ3_sum1        0
t1_champ3_sum2        0
t1_champ4id           0
t1_champ4_sum1        0
t1_champ4_sum2        0
t1_champ5id           0
t1_champ5_sum1        0
t1_champ5_sum2        0
t1_towerKills         0
t1_inhibitorKills     0
t1_baronKills         0
t1_dragonKills        0
t1_riftHeraldKills    0
t1_ban1               0
t1_ban2               0
t1_ban3               0
t1_ban4               0
t1_ban5               0
t2_champ1id           0
t2_champ1_sum1        0
t2_champ1_sum2        0
t2_champ2id           0
t2_champ2_sum1        0
t2_champ2_sum2        0
t2_champ3id           0
t2_champ3_sum1        0
t2_champ3_sum2        0
t2_champ4id           0
t2_champ4_sum1        0
t2_champ4_sum2        0
t2_champ5id           0
t2_champ5_sum1        0
t2_champ5_sum2        0
t2_towerKills         0
t2_inhibitorKills     0
t2_baronKills         0
t2_dragonKills        0
t2_riftHeraldKills    0
t2_ban1               0
t2_ban2               0
t2_ban3               0
t2_ban4               0
t2_ban5               0
dtype: int64

In [53]:
# Data information confirm
lol_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51490 entries, 3326086514 to 3317333020
Data columns (total 60 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   creationTime        51490 non-null  int64
 1   gameDuration        51490 non-null  int64
 2   seasonId            51490 non-null  int64
 3   winner              51490 non-null  int64
 4   firstBlood          51490 non-null  int64
 5   firstTower          51490 non-null  int64
 6   firstInhibitor      51490 non-null  int64
 7   firstBaron          51490 non-null  int64
 8   firstDragon         51490 non-null  int64
 9   firstRiftHerald     51490 non-null  int64
 10  t1_champ1id         51490 non-null  int64
 11  t1_champ1_sum1      51490 non-null  int64
 12  t1_champ1_sum2      51490 non-null  int64
 13  t1_champ2id         51490 non-null  int64
 14  t1_champ2_sum1      51490 non-null  int64
 15  t1_champ2_sum2      51490 non-null  int64
 16  t1_champ3id         51490 non-null  int64
 17  t1_champ3_sum1      51490 non-null  int64
 18  t1_champ3_sum2      51490 non-null  int64
 19  t1_champ4id         51490 non-null  int64
 20  t1_champ4_sum1      51490 non-null  int64
 21  t1_champ4_sum2      51490 non-null  int64
 22  t1_champ5id         51490 non-null  int64
 23  t1_champ5_sum1      51490 non-null  int64
 24  t1_champ5_sum2      51490 non-null  int64
 25  t1_towerKills       51490 non-null  int64
 26  t1_inhibitorKills   51490 non-null  int64
 27  t1_baronKills       51490 non-null  int64
 28  t1_dragonKills      51490 non-null  int64
 29  t1_riftHeraldKills  51490 non-null  int64
 30  t1_ban1             51490 non-null  int64
 31  t1_ban2             51490 non-null  int64
 32  t1_ban3             51490 non-null  int64
 33  t1_ban4             51490 non-null  int64
 34  t1_ban5             51490 non-null  int64
 35  t2_champ1id         51490 non-null  int64
 36  t2_champ1_sum1      51490 non-null  int64
 37  t2_champ1_sum2      51490 non-null  int64
 38  t2_champ2id         51490 non-null  int64
 39  t2_champ2_sum1      51490 non-null  int64
 40  t2_champ2_sum2      51490 non-null  int64
 41  t2_champ3id         51490 non-null  int64
 42  t2_champ3_sum1      51490 non-null  int64
 43  t2_champ3_sum2      51490 non-null  int64
 44  t2_champ4id         51490 non-null  int64
 45  t2_champ4_sum1      51490 non-null  int64
 46  t2_champ4_sum2      51490 non-null  int64
 47  t2_champ5id         51490 non-null  int64
 48  t2_champ5_sum1      51490 non-null  int64
 49  t2_champ5_sum2      51490 non-null  int64
 50  t2_towerKills       51490 non-null  int64
 51  t2_inhibitorKills   51490 non-null  int64
 52  t2_baronKills       51490 non-null  int64
 53  t2_dragonKills      51490 non-null  int64
 54  t2_riftHeraldKills  51490 non-null  int64
 55  t2_ban1             51490 non-null  int64
 56  t2_ban2             51490 non-null  int64
 57  t2_ban3             51490 non-null  int64
 58  t2_ban4             51490 non-null  int64
 59  t2_ban5             51490 non-null  int64
dtypes: int64(60)
memory usage: 24.0 MB

In [54]:
lol_data.describe()

,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
count,5.149000e+04,51490.000000,51490.0,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,...,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000,51490.000000
mean,1.502926e+12,1832.362808,9.0,1.493552,1.471295,1.450631,1.308487,0.926510,1.442804,0.731676,...,5.549466,0.985084,0.414547,1.404370,0.240105,108.216294,107.910216,108.690581,108.626044,108.066576
std,1.978026e+09,512.017696,0.0,0.499963,0.520326,0.542848,0.676097,0.841424,0.569579,0.822526,...,3.860989,1.256284,0.613768,1.224492,0.427151,102.551787,102.870710,102.592145,103.346952,102.756149
min,1.496892e+12,190.000000,9.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.502021e+12,1531.000000,9.0,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,38.000000,37.000000,38.000000,38.000000,38.000000
50%,1.503844e+12,1833.000000,9.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,...,6.000000,0.000000,0.000000,1.000000,0.000000,90.000000,90.000000,90.000000,90.000000,90.000000
75%,1.504352e+12,2148.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,...,9.000000,2.000000,1.000000,2.000000,0.000000,141.000000,141.000000,141.000000,141.000000,141.000000
max,1.504707e+12,4728.000000,9.0,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,11.000000,10.000000,4.000000,6.000000,1.000000,516.000000,516.000000,516.000000,516.000000,516.000000

In [56]:
# winner column값 출력
lol_data['winner']

# or
lol_data.winner.unique()

array([1, 2], dtype=int64)